# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Packed file
*.tgz

# Test workspaces
e2e-test-workspace/
